* {
    margin: 0;
    padding: 0;
}

body {
    background: #001F3A;
}

h1 {
    font-size: 40px;
    font-weight: 200;
}

p {
    font-size: 18px;
}

/* cabecalho do site */
#cabecalho {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-right: 20px;
}

.nav-link {
    display: inline-block;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

/* conteudo */

.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* promocoes */

.bloco1 {
    width: 300px;
    height: 400px;
    background: rgb(238, 241, 8);
    border-radius: 10px;
    align-self: flex-end;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloco2 {
    width: 300px;
    height: 500px;
    background: rgb(238, 241, 8);
    border-radius: 10px;
    margin-top: 50px;
    align-self: flex-end;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.bloco3 {
    width: 300px;
    height: 500px;
    background: darkgoldenrod;
    border-radius: 10px;
    align-self: flex-end;
}

.condicoes h1,h3 {
    display: inline;
}

.acessos {
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
}

.botao {
    background: #001F3A;
    padding: 10px 50px 10px 50px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}


/* cores e estilos */
p {
    color: rgb(35, 79, 224);
}

.fa-solid {
    color: rgb(255, 217, 0);
}

.fa-medal {
    color: green;
    font-size: 45px;
    position: absolute;
    right: 10px;
    top: 0;
}