html, body {
    margin: 0;
    padding: 0;
    background: #001F3A;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: #BA0B0B;
    }
    
    .container > div {
      width: 350px;
      height: 350px;
      margin: 0 50px 50px 0;
    }
    
    .div4 > p {
      color: white;
    }
    
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .div1 {
      background: #FF912E;
    }
    
    .div2 {
      background: #870093;
    
    }
    .div3 {
      background: #00396B;
    }
    
    .div4 {
      background: #00396B;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .div5 {
      background: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    