/* variaveis css sempre dentro do :root */
:root {
    --cor-de-fundo: rgb(255,255,0);
    --cor-de-quadrado: rgba(255,255,0, 0.5);
    --tamanho-de-fonte: 30px;
    --width: 200px;
    --height: 200px
}

body, html {
    width: 100%;
    height: 100vh;
    background-color: var(--cor-de-fundo);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-id {
    background-color: blue;
    width: var(--width);
    height: var(--height);
}

/* #header-id p {
    color: red;
    font-weight: bold;
    font-size: 24px;
}
 */

.text {
    color: brown;
    font-size: var(--tamanho-de-fonte);
    font-weight: bold;
    margin: 15px 0 15px 0;
    text-align: center;
}

#main-id {
    background: #ff0088;
    width: 200px;
    height: 200px;
}

#footer-id {
    background: var(--cor-de-quadrado);
    width: 200px;
    height: 200px;
}